{% set overflow_hidden = true %}
{% set disconnected = true %}

{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="w-full flex justify-center items-center">
    <div class="border-none rounded bg-slate-50 shadow w-1/2 p-4">
        <h2 class="text-2xl font-semibold mb-4">Formulaire de connexion</h2>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email, {'attr': {'class': 'mb-4 flex flex-col w-full'}}) }}
            {{ form_row(registrationForm.firstName, {'attr': {'class': 'mb-4 flex flex-col w-full'}}) }}
            {{ form_row(registrationForm.lastName, {'attr': {'class': 'mb-4 flex flex-col w-full'}}) }}
            <div class="w-full">
                {{ form_label(registrationForm.password) }}
                <div class="text-red-500">
                    {{ form_errors(registrationForm.password) }}
                </div>
                {{ form_widget(registrationForm.password, {'attr': {'class': 'mb-4 flex flex-col w-full'}}) }}
            </div>
            <div class="w-full">
                {{ form_label(registrationForm.confirmPassword) }}
                <div class="text-red-500">
                    {{ form_errors(registrationForm.confirmPassword) }}
                </div>
                {{ form_widget(registrationForm.confirmPassword, {'attr': {'class': 'mb-4 flex flex-col w-full'}}) }}
            </div>
            {{ form_row(registrationForm.register, { 'attr': { 'class': 'bg-blue-500 text-white border-none rounded px-4 py-3 w-full hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-200' } }) }}
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
